
{% extends "base.html" %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

    <div class="d-flex justify-content-between align-items-center mb-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2>
                {% if request.user.role == "lecturer" %}
                    My Classes
                {% else %}
                    My Courses
                {% endif %}
            </h2>

            {% if request.user.role == "lecturer" %}
                <a href="{% url 'create_course' %}" class="btn btn-success">
                    + Create Course
                </a>
            {% endif %}
        </div>

        <!-- JOIN BUTTON -->
        {% if request.user.role == "student" %}
            <button class="btn btn-primary" onclick="toggleJoin()">+ Join Course</button>
        {% endif %}
    </div>

    <!-- JOIN FORM (HIDDEN) -->
    <div id="joinForm" style="display:none;" class="card p-3 mb-4">
        <form method="post" action="{% url 'join_course' %}">
            {% csrf_token %}
            <input type="text" name="join_code" placeholder="Enter Join Code" class="form-control mb-2">
            <button type="submit" class="btn btn-success">Join</button>
        </form>
    </div>

    <!-- COURSE LIST -->
    <div class="row">
        {% for course in courses %}
            <div class="col-md-4 mb-3">
                <div class="card p-3 shadow">
                    <h5>{{ course.name }}</h5>
                   
                    <a href="{% url 'course_detail' course.id %}" class="btn btn-sm btn-outline-primary mt-2">
                        Open
                    </a>
                </div>
            </div>
        {% empty %}
            <p>No courses yet.</p>
        {% endfor %}
    </div>

</div>

<script>
function toggleJoin() {
    const form = document.getElementById('joinForm');
    form.style.display = form.style.display === 'none' ? 'block' : 'none';
}
</script>
{% endblock %}